*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    color: aqua;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
#page{
    background-color: bisque;
}
.picture_list ul{
    width: 80%;
    margin: 20px 40px;
    display: flex;
}
.picture_list ul li{
    margin-left: 40px;
    flex: 0 0 auto;
}
.placeholder{
    width: 80%;
}
.placeholder img{
    margin: 20px 40px;
    width: 400px;
    height: 350px;
}
