
#first{
    margin: auto;
    padding: 10px;
    width: 900px;
    height: 800px;
    font-size: 1.3rem;
    background-color: aquamarine;
    border: 5px solid royalblue;
    overflow: hidden;
}
.caption{
    margin: 0;
    height: 800px;
    line-height: 800px;
    width: auto;
    float: left;
    background-color: rgb(43, 153, 226);
    font-family: monospace;
}
.information span{
    font-weight: bold;
}
h3{
    margin: auto;
    font-size: 1.1rem;
    border: 2px dashed red;
    background-color: brown;
    text-align: center;
}
ul{
    list-style-type: none;
}
p,li{
    text-indent: 2em;
}

