#first{
    margin: auto;
    padding: 10px;
    width: 900px;
    height: 800px;
    font-size: 1.3rem;
    background-color: rgb(163, 255, 127);
    border: 5px solid rgb(26, 51, 124);
    overflow: hidden;
}
.caption{
    margin: 0;
    height: 800px;
    width: auto;
    float: left;
    background-color: rgb(43, 153, 226);
    font-family: monospace;
}
.information span{
    font-weight: bold;
}
h3{
    margin: auto;
    font-size: 1.1rem;
    border: 2px dashed rgb(0, 255, 149);
    background-color: rgb(7, 87, 80);
    text-align: center;
}
ul{
    list-style-type: none;
}
p,li{
    text-indent: 2em;
}