*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.4rem;
}
li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    font-family: "ProximaNova";
    color: rgb(88, 93, 104);
}
h2{
    font-size: 2.4rem;
    font-family: "ProximaNova";
    color: rgb(53, 64, 82);
}
h3{
    line-height: 3.3;
    font-size: 1.2rem;
    font-family: "ProximaNova";
    color: rgb(91, 103, 121);
}
/***style begin***/
#wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

/***apps_cols***/

#wrapper #apps_cols{
    position: relative;
    width: 40rem;
    background-color: rgb(29, 37, 49);
}
#apps_cols .apps{
    position: fixed;
    margin: 0 1rem;
    top: 0;
    left: -2.1rem;
}
#apps_cols .apps a{
    margin: 2rem;
    display: block;
    width: 6rem;
    height: 6rem;
}
#apps_cols .apps li:first-child a{
    background-image: url(img/item1.png);
}
#apps_cols .apps li:nth-child(2) a{
    background-image: url(img/item2.png);
}
#apps_cols .apps li:nth-child(3) a{
    background-image: url(img/item3.png);
}
#apps_cols .apps li:nth-child(4) a{
    background-image: url(img/item4.png);
}
#apps_cols .settings{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
}
.settings ul{
    display: flex;
    justify-content: center;
    margin-left: -3rem;
    width: 10rem;
}
.settings a{
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 1rem;
}
.settings li:first-child a{
    background-image: url(img/setting1.png);
}
.settings li:nth-child(2) a{
    background-image: url(img/setting2.png);
}

/***inner_nav***/
#inner_nav{
    position: relative;
    width: 120rem;
    padding: 1rem 2rem;
    font-family: "ProximaNova";
    color: rgb(183, 192, 205);
    background-color: rgb(34, 44, 60);
}
#inner_nav li{
    margin: 1rem 2rem;
}
#inner_nav .caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inner_nav .caption span{
    display: inline-block;
    margin-left: 10px;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(img/setting2.png);
}
#inner_nav .items li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inner_nav .items li a span{
    display: inline-block;
    margin-right: 1rem;
    width: 1.8rem;
    height: 1.2rem;
}
#inner_nav .book{
    background-image: url(img/book.png);
}
#inner_nav .video{
    background-image: url(img/video.png);
}
#inner_nav .painting{
    background-image: url(img/painting.png);
}
#inner_nav .chart{
    background-image: url(img/chart.png);
}
#inner_nav .count{
    display: inline-block;
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 2rem;
    background-image: url(img/base1.png);
}
#inner_nav .alarm{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 2rem;
    background-image: url(img/base2.png);
}
#inner_nav section{
    padding: 1.5rem 0;
}
#inner_nav section + section{
    border-top: 1px solid rgb(42, 53, 71);
}
#inner_nav .severcapacity{
    position: fixed;
    bottom: 2rem;
    border: none;
    padding: 0 1rem;
}
.severcapacity .process p span+span{
    margin-left: 2rem;
}
.severcapacity .goals_bar{
    width: 100%;
    height: 0.4rem;
    background-color: rgb(71, 83, 100);
}
.severcapacity .current_bar{
    height: 0.4rem;
    width: 25%;
    border: 0.1rem solid blueviolet(228, 83, 83);
    background-color: blueviolet;
}
/***feature area***/
#feature_area{
    position: relative;
    display: flex;
    margin: 0 2rem;
}
/*top_info*/
#top_info{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05)
}
#top_info .administrator{
    display: flex;
    justify-content: space-around;
    margin-left: -38rem;
    height: 7rem;
}
#top_info .topic_show{
    line-height: 7rem;
}
#top_info .info{
    overflow: hidden;
    margin-left: -10rem;
    width: 18rem;
}
#top_info .info p{
    color: rgb(181, 181, 181);
}
#top_info .info .avatar1{
    display: block;
    float: left;
    margin-top: 1rem;
    margin-right: 1.5rem;
    width: 5rem;
    height: 5rem;
    background-image: url(img/avatar1.png);
}
#top_info .arrow{
    display: block;
    float: right;
    margin-top: -2.5rem;
    width: 1rem;
    height: 0.8rem;
    background-image: url(img/arrow.png);
}
/***active_area***/
#active_area{
    display: flex;
    margin-top: 12rem;
}
#message_area{
    flex: 1 1 45%;
}
/**chat_summery**/
.chat_summary{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid rgb(229, 232, 238);
    border-left: none;
    border-top: none;
}
.chat_summary .search_chat{
    width: 100%;
    line-height: 6rem;
    height: 6rem;
    border: 0.1rem solid rgb(229, 232, 238);
}
.chat_summary .search_field{
    margin-left: 1rem;
    width: 90%;
    height: 3.5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid rgb(229, 232, 238);
}
.chat_summary .search_button{
    display: inline-block;
    margin-left: -3.5rem;
    margin-top: 1.5rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(img/search.png);
}
.chat_summary article{
    flex: 1 1 auto;
    padding: 1.5rem;
    border: 0.1rem solid rgb(229, 232, 238);
    border-left: none;
}
.chat_summary article .status{
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
}
.chat_summary article .info{
    width: 100%;
    height: 100%;
}
.chat_summary article .info p{
    overflow: hidden;
    margin-top: -1rem;
}
.chat_summary article .time p{
    height: 5rem;
    line-height: 5rem;
    margin-left: -8rem;
}
.chat_summary .status .avatar{
    display: block;
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
}
.chat_summary .active_chat .chat_content{
    display: flex;
    justify-content: space-between;
}
.chat_summary .active_chat .chat_content span{
    display: block;
    width: 5rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background-image: url(img/base3.png);
    background-repeat: no-repeat;
    background-position: center;
}
#message_area article:nth-child(2) .avatar{
    background-image: url(img/avatar2.png);
}
#message_area article:nth-child(3) .avatar{
    background-image: url(img/avatar3.png);
}
.chat_summary article:nth-child(4) .avatar{
    background-image: url(img/avatar4.png);
}
.chat_summary article:nth-child(5) .avatar{
    background-image: url(img/avatar5.png);
}
.chat_summary article:nth-child(6) .avatar{
    background-image: url(img/avatar6.png);
}
.chat_summary article:nth-child(7) .avatar{
    background-image: url(img/avatar7.png);
}
.chat_summary article:nth-child(8) .avatar{
    background-image: url(img/avatar8.png);
}
/***chat_personal***/
#chat_personal{
    flex: 1 1 55%;
}
#chat_personal .personal_item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 6rem;
    height: 6rem;
    border: 0.1rem solid rgb(229, 232, 238);
    border-left: none;
}
#chat_personal .personal_item h3{
    padding-left: 2rem;
}
#chat_personal .personal_item span{
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-position: center;
    background-repeat: no-repeat;
}
#chat_personal .personal_item h3{
    line-height: 6rem;
    height: 6rem;
}
#chat_personal .personal_item h3 span{
    margin-left: 0.5rem;
    margin-top: 2.3rem;
    background-image: url(img/status.png);
}
#chat_personal .tools a:nth-child(1) span{
    background-image: url(img/user.png);
}
#chat_personal .tools a:nth-child(2) span{
    background-image: url(img/upload.png);
}
#chat_personal .tools a:nth-child(3) span{
    background-image: url(img/trash.png);
}
#chat_personal .tools {
    height: 15rem;
    margin-right: -20rem;
}
#chat_personal .personal_item p{
    margin-right: -8rem;
}
#chat_personal .changePage {
    margin-left: -15rem;
}
#chat_personal .changePage a{
    border-width: 1px;
    border-color: white;
    border-radius: 4px;
}
#chat_personal .changePage a:nth-child(1) span{
    background-image: url(img/arrowleft.png);
}
#chat_personal .changePage a:nth-child(2) span{
    background-image: url(img/arrowright.png);
}
/**message_summary**/

.message_summary article{
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid rgb(229, 232, 238);
    border-right: none;
}
.message_summary article .avatar{
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    background-repeat: no-repeat;
    background-position: center;
}
.message_summary article .message_content{
    margin: 1rem 1rem;
}
.message_summary article .info{
    display: flex;
}
.message_summary article .info p{
    margin: 1rem;
    font-size: 1.5rem;
    color: rgb(127, 143, 164);
}
.message_summary article .message{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}
.message_summary article .message .avatar{
    flex: 1 0 auto;
    margin-top: 1rem;
    background-image: url(img/avatar2.png);
}
.message_summary article .response{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}
.message_summary article .response .avatar{
    flex: 1 0 auto;
    margin-top: 1rem;
    background-image: url(img/avatar9.png);
}
.message_summary article .response .content .message_img{
    margin-top: 1.5rem;
}
/***response_active***/
.message_summary article .response_active{
    display: flex;
    justify-content: flex-start;
}
.message_summary article .add_icon{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/addicon.png);
}
.message_summary article input{
    height: 5rem;
    flex: 1 1 auto;
    border: 0.1rem solid rgb(229, 232, 238);
}
.message_summary .message_time{
    position: relative;
    width: 100%;
    height: 1px;
    border: 0.05rem solid rgb(183, 192, 205);
}