<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Day07-Day08</title>
    <link href="layout3.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="changeStyles.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div class="logo">
                    <p>LOGO</p>
                </div>
                <div class="link_nav">
                    <ul>
                        <li><a href="http://keviness.github.com">github</a></li>
                        <li><a href="#">register</a></li>
                        <li><a href="#">login</a></li>
                    </ul>
                </div>
            </div>
            <div class="caption">
                <p>Welcome To you</p>
            </div>
            <div class="changeStyle">
                <ul>
                    <li><a href="layout1.css">First</a></li>
                    <li><a href="layout2.css">Second</a></li>
                    <li><a href="layout3.css">Third</a></li>
                </ul>
            </div>
        </header>
        <div id="container">
            <section class="main_nav">
                <div class="inner">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PROFILE</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
                </div>
            </section>
            <section class="main_content">
                <div class="inner">
                    <ul class="row_1">
                        <li>
                            <article><p>content1</p></article>
                        </li>
                        <li>
                            <article><p>content2</p></article>
                        </li>
                        <li>
                            <article><p>content3</p></article>
                        </li>
                    </ul>
                    <ul class="row_2">
                        <li>
                            <article><p>content4</p></article>
                        </li>
                        <li>
                            <article><p>content5</p></article>
                        </li>
                        <li>
                            <article><p>content6</p></article>
                        </li>
                        <li>
                            <article><p>content7</p></article>
                        </li>
                    </ul>
                    <ul class="row_3">
                        <li>
                            <article><p>content8</p></article>
                        </li>
                        <li>
                            <article><p>content9</p></article>
                        </li>
                        <li>
                            <article><p>content10</p></article>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <footer>
            <p>&copy; 2020 <a href="http://keviness.github.io">keviness's blog</a><p>
        </footer>
    </div>
</body>
</html>